<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yassine Lahmer's Portfolio</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='nerd.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="light-mode">
    <nav>
        <a href="{{ url_for('about') }}">About Me</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('education') }}">Education</a>




        <label class="switch">
            <input type="checkbox" id="theme-switch">
            <span class="slider round">
                <div class="background"></div>
                <div class="star"></div>
                <div class="star"></div>
            </span>
            
        </label>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script>
        const themeSwitch = document.getElementById('theme-switch');
        const currentTheme = localStorage.getItem('theme') || 'light';
        
        if (currentTheme === 'dark') {
            document.body.classList.add('dark-mode');
            themeSwitch.checked = true;
        }

        themeSwitch.addEventListener('change', function() {
            if (this.checked) {
                document.body.classList.add('dark-mode');
                localStorage.setItem('theme', 'dark');
            } else {
                document.body.classList.remove('dark-mode');
                localStorage.setItem('theme', 'light');
            }
        });
    </script>
<label class="switch">
    <input type="checkbox" id="theme-switch">
    <span class="slider round">
        <div class="background"></div>
        <div class="star"></div>
        <div class="star"></div>
    </span>
    
</label>

</body>
</html>
